
	header{
		font-size: 6em;
	}

	p{
		font-size: 2em;
	}

	footer{
		font-size: 2em;
	}

	#title1{
		font-size: 3em;
	}

	#left1{
		width:100%;
	}
	#right1{
		width:70%;
		height: 400px;
	}
	#largerRight{
		width:72%;
		height: 400px;
	}
	#left2{
		width:70%;
		height: 400px;
	}
	#right2{
		width:100%;
	}
	#right3{
		width:70%;
		height: 400px;
	}
	#left3{
		width:70%;
		height: 400px;
	}
	#shortened1{
		width:100%;
	}
	#center{
		width:100%;
	}



@media only screen and (min-width: 700px) {
	header{
		font-size: 5em;
	}

	p{
		font-size: 1.5em;
	}

	footer{
		font-size: 1.5em;
	}

	#title1{
		font-size: 2em;
	}

	#left1{
		width:75%;
	}
	#right1{
		width:20%;
		height: 150px;
	}
	#largerRight{
		width:23%;
		height: 165px;
	}
	#left2{
		height: 150px;
		width:20%;
	}
	#right2{
		width:75%;
	}
	#right3{
		width:20%;
		height: 150px;
	}
	#left3{
		width:20%;
		height: 150px;
	}
	#shortened1{
		width:75%;
	}
	#center{
		width:78%;
	}

}

@media only screen and (min-width: 1000px) {
	header{
		font-size: 4em;
	}

	p{
		font-size: 1em;
	}

	footer{
		font-size: 1em;
	}

	#title1{
		font-size: 1.5em;
	}

	#left1{
		width:85%;
	}
	#right1{
		width:13%;
	}
	#largerRight{
		width:15%;
	}
	#left2{
		width:13%;
	}
	#right2{
		width:85%;
	}
	#right3{
		width:13%;
	}
	#left3{
		width:13%;
	}
	#shortened1{
		width:83%;
	}
	#center{
		width:71%;
	}

}


header{
	color: red;
	font-family: cursive;
	background-color: #336699;
	margin-bottom: 15px;
	border-radius: 55px;
	border: 2px solid #006600;
	text-align: center;
}

p{
	color: #0077b3;
	display:inline-block;
	margin-bottom: 1px;
	margin-top: 2px;
}

pre{
	color: #0077b3;
	display:inline-block;
	margin-bottom: 1px;
	margin-top: 2px;
}

div{
	/*background-color: #ff6666;*/
	background-color: #ff9999;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 2px solid #006600;
	padding: 10px;
}

img{
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

body{
	/*background-color: #009900;*/
}


#title1{
	color: #264d73;
	font-weight: bold;
	text-decoration: underline;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}



#stressed{
	font-style: italic;
}

#left1{
	float: left;
	clear: left;
}

#right1{
	float: right;
	clear: right;
}

#left2{
	float: left;
	clear: left;
}

#right2{
	float: right;
}

#left3{
	float: left;
	display:inline-block;
}

#largerRight{
	float: right;
	clear: right;
}

#right3{
	float: right;
	display:inline-block;
}

#shortened1{
	float: left;
	clear: both;
}

#list{
	color: #264d73;
}

#center{
	margin-left: 5px;
	margin-right: 5px;
	display:inline-block;
}

a:link{
	color: #cc6600;
}

a:visited{
	color: #cc6600;
}

a:hover{
	color: #003cb3;
}

#links{
	//background-color: #ff6666;
	background-color: #a4c1c1;
	border-radius: 5px;
	margin-bottom: 10px;
	border: none;
}

li{
	color: #0077b3;
}

#footer{
	border-radius: 20px;
	background-color: #a4c1c1;
}

footer{
	border-radius: 50px;
	background-color: #a4c1c1;
	color: #264d73;
	text-align: center;
	clear: both;
}
