header{
	font-size: 4em;
	color: red;
	font-family: cursive;
	display:inline-block;
}

p{
	font-size: 1em;
	color: #0077b3;
	display:inline-block;
}

div{
	background-color: #ff6666;
	border-radius: 5px;
	//padding: 10px;
	margin-bottom: 10px;
}

img{
	margin-bottom: 10px;
	border-radius: 3px;
}

body{
	background-color: #009900;
}

#title1{
	color: #0077b3;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#stressed{
	font-style: italic;
}

#left1{
	float: left;
	width:85%;
}

#right1{
	float: right;
}

#left2{
	float: left;
}

#right2{
	float: right;
	width:85%;
}